<div class="topbar d-flex justify-content-between align-items-center">

  <!-- Para la ruta /listar -->
  <ng-container *ngIf="currentUrl === '/listar'">
    <div>
        <h2 class="mb-4 text-center">Lista de productos</h2>
    </div>
  </ng-container>
  <!--Para la ruta/guardar-->
  <ng-container *ngIf="currentUrl === '/guardar'">
    <h2 class="mb-4 text-center">Añadir producto</h2>
  </ng-container>

  <!-- Para la ruta /editar -->
  <ng-container *ngIf="currentUrl === '/editar'">
    <h2 class="mb-4 text-center">Editar Producto</h2>
  </ng-container>

  <!-- Para la ruta /listarP -->
  <ng-container *ngIf="currentUrl === '/listarP'">
    <h2 class="mb-4 text-center">Listar Proveedores</h2>
  </ng-container>

  <ng-container *ngIf="currentUrl === '/listarG'">
    <h2 class="mb-4 text-center">Listar Gerentes</h2>
  </ng-container>

  <ng-container *ngIf="currentUrl === '/guardarG'">
    <h2 class="mb-4 text-center">Añadir gerente</h2>
  </ng-container>

  <ng-container *ngIf="currentUrl === '/editarG'">
    <h2 class="mb-4 text-center">Editar gerente</h2>
  </ng-container>
</div>
